{% extends 'base.html.twig' %}




    {% block body %}
        <div class="container">
            <div class="row">
                {% for superhero in superheroes %}
                    <div class="col-md-4 col-sm-6">         {#per decidere come vederle sullo schermo. Vedi caratt. bootstrap#}
                        <div class="panel panel-info">
                            <div class="panel-heading"><h3>{{ superhero.name }}</h3></div>
                            <div class="panel-body">
                                <ul>
                                    <li>Nome: {{ superhero.name }}</li>
                                    <li>Nome reale: {{ superhero.realName }}</li>
                                    <li>Luogo: {{ superhero.location }}</li>
                                    <li>Ha il mantello?
                                        {% if (superhero.hasCloak) %}
                                            <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-remove"></span>
                                        {% endif %}
                                    </li>
                                    <li>Data di nascita: {{ superhero.birthDate|date("d/m/Y") }}</li>
                                </ul>
                                <a href="{{ path('detail', {'id':superhero.id}) }}">Vedi Scheda</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}



