{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for superhero in superheroes %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{superhero.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Nome: {{ superhero.name }}</li>
                            <li>Nome reale: {{ superhero.realName }}</li>
                            <li>Luogo: {{ superhero.location }}</li>
                            <li>Ha il mantello?:
                                {% if superhero.hasCloak %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove"></span>
                                {% endif %}
                            </li>
                            <li>Data di nascita: {{ superhero.birthDate | date }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
