{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>Nome: {{ superhero.name }} </li>
        <li>Nome reale: {{ superhero.realName }}</li>
        <li>Luogo: {{ superhero.location }}</li>
        <li>Ha il mantello? {{ superhero.hasCloak }}</li>
        <li>Data di nascita: {{ superhero.birthDate }}</li>
    </ul>
{% endblock %}

