{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ superhero.name }}</h1>
    <ul>
        <li>Nome: {{ superhero.name }}</li>
        <li>Nome reale: {{ superhero.realName }}</li>
        <li>Luogo: {{ superhero.name }}</li>
        <li>Ha il mantello?: {{ superhero.hasCloak }}</li>
        <li>Data di nascita: {{ superhero.birthDate | date }}</li>
    </ul>
{% endblock %}