{% extends 'base.html.twig' %}

{% block body %}
    <h1>Superheroes:</h1>
    <ul class="list-group">
        {%  for superhero in superheroes %}
            <li class="list-group-item"><a href="{{ path('detail', {'id' : superhero.id}) }}">Nome: {{ superhero.name }}</a></li>
            <li class="list-group-item">Nome reale: {{ superhero.realName }}</li>
            <li class="list-group-item">Luogo: {{ superhero.location }}</li>
            <li class="list-group-item">Ha il mantello? {{ superhero.hasCloak ? 'si' : 'no' }}</li>
            <li class="list-group-item">Data di nascita: {{ superhero.birthDate | date("d/M/Y") }}</li>
            <hr />
        {%  endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}

{% endblock %}
